<div class="container-fluid" style="height:10Vh;"></div>



<div class="card">
    <div class="card-header">
      Facturación IVA 00001 
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Podemos realizar facturaciones con iva</p>
        <footer class="blockquote-footer"> <a routerLink='/ventasIVA'>Ingrese aquí para facturar </a> </footer>
      </blockquote>
    </div>
  </div>

<hr>

<div class="card">
    <div class="card-header">
      Facturación SIN IVA 00001 
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Podemos realizar facturaciones sin iva</p>
        <footer class="blockquote-footer"> <a routerLink='/ventasSIVA'>Ingrese aquí para facturar </a> </footer>
      </blockquote>
    </div>
  </div>
  
  
