<div class="container-fluid" style="height: 10VH;"></div>

<div class="row justify-content-center">
    <div class="col-12 col-lg-10">

        <h1 class="text-center">Inciar Sesión</h1>

        <div class="container-fluid" style="height: 4vh;"></div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        @if (errorMessage) 
                        {
                            <div class="alert alert-danger">
                                {{ errorMessage }}
                            </div>
                        }

                       <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()" >
                        <div class="mb-3 form-group">
                            <label for="identifier" class="form-label">Usuario</label>
                            <input type="text" class="form-control" id="identifier" formControlName="identifier"  placeholder="Ingrese su Usuario o Email"
                                   [class.is-invalid]="LoginForm.get('identifier')?.invalid && LoginForm.get('identifier')?.touched ">
                                @if (LoginForm.get('identifier')?.invalid && LoginForm.get('identifier')?.touched)
                                    {
                                        <div class="invalid-feedback">Campo requerido</div>
                                    }
                        </div>
        
                        <div class="mb-3 form-group">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Ingrese su contraseña"
                            [class.is-invalid]="LoginForm.get('password')?.invalid && LoginForm.get('password')?.touched">
                                @if (LoginForm.get('password')?.invalid && LoginForm.get('password')?.touched) 
                                {
                                    <div class="invalid-feedback">La contraseña debe tener al menos 8 caracteres</div>
                                }
                        </div>

                        <button type="submit" class="btn btn-secondary" style="margin-left: .5rem;"
                                [disabled]="LoginForm.invalid || isLoading">
                                    @if (isLoading) {
                                        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true">
                                        </span>
                                        Cargando...
                                    } @else {
                                        Iniciar Sesion <i class="bi bi-box-arrow-in-right"></i>
                                    }
                        </button>

                        <hr>
                        <p>
                            ¿No tienes una cuenta? Puedes darle clic aquí para <strong> <a routerLink="/register" style="cursor: pointer;">Registrarse</a> </strong>
                        </p>
        
                       </form>
                        
                    </div>
                </div>
            </div>

    </div>
</div>
