
<nav class="navbar fixed-top" style=" border-bottom: 2px solid #220298;">
    <div class="container-fluid">
        <a class="navbar-brand" (click)="scrollToTop()" routerLink="/" routerLinkActive="active" style="cursor: pointer;" 
           >
            <img src="/assets/logo/torii.png" style="border-radius: 24%; margin-left: 1vh;margin-top: 0px;" 
                 alt="Logo-Torii" width="70" height="50" class="d-inline-block align-text-middle">
           MAGIC'S COMPLEX - SSR
        </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel"   data-bs-backdrop="static"> 
        <!-- Modified header without close button -->
        <div class="offcanvas-header border-bottom">
          <div class="d-flex align-items-center gap-2">

            <button type="button" class="btn btn-link text-dark p-0 me-2" data-bs-dismiss="offcanvas">
              <i class="bi bi-arrow-left fs-4"></i>
          </button>

            <img src="/assets/logo/torii.png" alt="Logo-Torii" width="40" height="40" class="rounded">
            <h5 class="offcanvas-title mb-0" id="offcanvasNavbarLabel">MAGIC'S COMPLEX - SSR</h5>
          </div>
        </div>

        <div class="offcanvas-body d-flex flex-column">
           <!-- Main Navigation -->
            <ul class="navbar-nav flex-grow-1">
              <!-- Favorites Section with Dropdown -->
              <li class="nav-item mb-3">
                <div class="menu-section d-flex align-items-center justify-content-between p-2 text-muted" 
           (click)="toggleSection('favorites')" 
           [class.active]="activeSections.favorites">
        <span class="fw-medium">Accesos Rápidos</span>
        <div class="menu-toggle" [class.active]="activeSections.favorites">
          <i class="bi bi-chevron-down"></i>
        </div>
      </div>
      <ul class="list-unstyled ps-2 menu-items" [class.show]="activeSections.favorites">


        <li >
            <a class="nav-link d-flex align-items-center gap-2 py-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-current="page"
             (click)="scrollToTop()" routerLink="/ventas" routerLinkActive="active" style="cursor: pointer;" ><i class="bi bi-shop"></i>  Ventas</a>
        </li>

        <li >
            <a class="nav-link d-flex align-items-center gap-2 py-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-current="page"
             (click)="scrollToTop()" routerLink="/compras" routerLinkActive="active" style="cursor: pointer;" ><i class="bi bi-cart"></i> Compras</a>
        </li>

        <li >
            <a class="nav-link d-flex align-items-center gap-2 py-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-current="page"
             (click)="scrollToTop()" routerLink="/stock" routerLinkActive="active" style="cursor: pointer;" ><i class="bi bi-stack"></i> Stock</a>
        </li>

      </ul>
    </li>
                  
                                  <!-- Applications Section -->
                <li class="nav-item mb-3">
                  <div class="menu-section d-flex align-items-center justify-content-between p-2 text-muted" 
                      (click)="toggleSection('applications')" 
                      [class.active]="activeSections.applications">
                    <span class="fw-medium">Menu</span>
                    <div class="menu-toggle" [class.active]="activeSections.applications">
                      <i class="bi bi-chevron-down"></i>
                    </div>
                  </div>
                  <ul class="list-unstyled ps-2 menu-items" [class.show]="activeSections.applications">
                    <!-- Your menu items -->
                    <li >
                      <a class="nav-link d-flex align-items-center gap-2 py-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-current="page"
                       (click)="scrollToTop()" routerLink="" routerLinkActive="active" style="cursor: pointer;" ><i class="bi bi-house"></i> Inicio</a>
                    </li>
            
                    <li>
                      <a class="nav-link d-flex align-items-center gap-2 py-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-current="page"
                       (click)="scrollToTop()" routerLink="/ventas" routerLinkActive="active" style="cursor: pointer;" ><i class="bi bi-shop"></i>  Ventas</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link d-flex align-items-center gap-2 py-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-current="page"
                       (click)="scrollToTop()" routerLink="/compras" routerLinkActive="active" style="cursor: pointer;" > <i class="bi bi-cart"></i> Compras</a>
                  </li>
                  <li>
                      <a class="nav-link d-flex align-items-center gap-2 py-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-current="page"
                       (click)="scrollToTop()" routerLink="/stock" routerLinkActive="active" style="cursor: pointer;" ><i class="bi bi-stack"></i> Stock</a>
                  </li>
                  <li >
                      <a class="nav-link d-flex align-items-center gap-2 py-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-current="page"
                       (click)="scrollToTop()" routerLink="/productos" routerLinkActive="active" style="cursor: pointer;" ><i class="bi bi-card-list"></i> Productos</a>
                  </li>
                  <li >
                      <a class="nav-link d-flex align-items-center gap-2 py-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-current="page"
                       (click)="scrollToTop()" routerLink="/empleados" routerLinkActive="active" style="cursor: pointer;" ><i class="bi bi-people"></i> Empleados</a>
                  </li>

                  <li >
                    <a class="nav-link d-flex align-items-center gap-2 py-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-current="page"
                    (click)="openConfigModal()"  routerLinkActive="active" style="cursor: pointer; text-decoration: none;" > <i class="bi bi-gear"></i> Configuración</a>
                  </li>

                  
                  </ul>
                </li>

                <li >
                  <a class="nav-link d-flex align-items-center gap-2 py-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-current="page"
                  (click)="goBack()"  routerLinkActive="active" style="cursor: pointer; text-decoration: none;" > <i class="bi bi-arrow-left"></i> Volver atrás</a>
                </li>
              </ul>

                      <!-- User Profile Section at the bottom -->
            <div class="mt-auto border-top pt-3">
              <a class="d-flex align-items-center gap-2 p-3 text-decoration-none text-dark" 
                style="cursor: pointer" 
                (click)="showUserSession()">
                
                <div class="rounded-circle bg-light d-flex align-items-center justify-content-center" 
                    style="width: 40px; height: 40px">
                  <i class="bi bi-person"></i>
                </div>
                <div class="flex-grow-1">
                  <div class="fw-medium">{{ userData?.name || 'Nombre' }}</div>
                  <small class="text-muted">{{ userData?.email || 'userexample.com' }}</small>
                </div>
                <!-- <i class="bi bi-box-arrow-right text-danger"></i> -->
              </a>
            </div>
          </div>
        </div>
    </div>
    <!-- <app-logout-modal (onConfirm)="handleLogoutConfirm()"></app-logout-modal> -->
    <app-offcanvas-user-session #userSession></app-offcanvas-user-session>
    <app-config-modal />
</nav>



