
/* You can add global styles to this file, and also import other style files */
:root{
  --background-color: #ffffff ;
  --text-color: #000000;

  --background-navbar: #fff;
  --background-card: #fff;
  /* Add other theme variables */
}


body {
  font-family: Arial, sans-serif;
  --bs-body-bg:  var(--background-color) !important;
  background-color: var(--background-color) !important;
  overflow-x: hidden;
}

.btn-custom{
  background-color: #000!important;
  color: var(--text-color)!important;
}
.btn-custom:hover{
  background-color: var(--text-color)!important;
  color: #000!important;
}

.btn-outline-custom{
  background-color: transparent !important;
  border: 2px solid  var(--text-color)!important;
  color: var(--text-color)!important;
}
.btn-outline-custom:hover{
  background-color: transparent !important;
  border: 2px solid #000!important;
  color: #000!important;
}


/* Target specific text elements */
/* bootstrap clases change */
body,
p,
span,
h1, h2, h3, h4, h5, h6,
.card,
.form-control,
.nav-link,
.dropdown-item,
.text-muted,
.btn-link,
.table,
table,
thead,
tbody,
tr,
th,
td,
.text-dark,
.text-black,
.text-body{
  color: var(--text-color) !important;
}

.modal{
  --bs-modal-bg: var(--background-navbar)!important;
}

.list-group-item{
  background-color: var(--background-card)!important;
}
.list-group-item:hover{
  background-color: var(--background-card)!important;
  background-color: color-mix(in srgb, var(--background-card) 85%, black) !important;
}

.table thead th,
thead th, .form-select{
  /* background-color: var(--background-card) !important; */
  background-color: var(--background-navbar) !important;
  color: var(--text-color) !important;
}

.table tbody tr:hover,
tbody tr:hover {
  background-color: var(--background-card) !important;
  transition: background-color 0.3s ease;
}

.table, .table-striped  {
  --bs-table-bg: var(--background-card) !important;
  --bs-table-hover-bg: var(--background-card) !important;
  --bs-table-striped-bg: var(--background-card) !important;
  --bs-table-color: var(--text-color) !important;
  --bs-table-color-type: var(--text-color) !important;
  --bs-table-color-state: var(--text-color) !important;
}


nav{
  background-color: var(--background-navbar) !important;
}
.navbar-brand{
  color: var(--text-color) !important;
}


.card, .form-control, .table, table, .offcanvas {
  background-color: var(--background-card) !important;
}
.dropdown-menu{
  background-color: color-mix(in srgb, var(--background-card) 85%, black) !important;
  border: 1px solid color-mix(in srgb, var(--background-card) 70%, black) !important;
  
}
.dropdown-item:hover {
  background-color: color-mix(in srgb, var(--background-card) 75%, black) !important;
}

/* Global placeholder styles */
::placeholder,
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
  color: var(--text-color) !important;
  opacity: 0.7 !important;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--text-color) !important;
  opacity: 0.7 !important;
}

/* Remove spinner buttons from number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
}


